.container {
    margin-top: 0rem;
    font-family: "Open Sans", sans-serif;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; 
    padding: 20px; 
    overflow: auto;
    height: 700px;
}



.card {
    margin-left: 3rem;
    width:80%;
    background-color: #ffffff;
    height: 375px;
    color: black;
    border-radius: 1rem;
    margin-bottom: 1rem;
    flex: 1 1 calc(33.333% - 1rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease;

}

.card:hover {
    background-color: #ffffff; 
    transform: translateY(-5px);
    box-shadow:  3px 4px 5px rgba(4, 14, 45, 0.5);
}

.card-header {
    height: 14rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card-image {
    height: 13rem;
    width: 18.2rem;
    border-top-left-radius: 1rem ;
    border-top-right-radius: 1rem ;
    
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-review {
    text-align: center;
    font-weight: 200;
}

.card-button {
    background-color: #102943; /* Indigo-500 */
    color: white;
    font-size: 1.125rem;
    padding: 0.25rem 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.card-button:hover {
    background-color: #173a5f; /* Darker shade of Indigo-500 */
}
