/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap');

  
.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.75rem;
    margin-top: 0.75rem;
    color: black;
    
    
    font-style: normal;
}

.custom-button {
    background-color: white;         /* White background */
    color: black;                    /* Black text */
    border: none;         /* Black border */
    padding: 0.5rem 1rem;              /* Padding */
    text-align: center;              /* Centered text */
    text-decoration: none;           /* No underline */
    display: inline-block;           /* Inline-block */
    font-size: 12.5px;   
    font-weight: bold;              /* Font size */
    margin: 4px 2px;                 /* Margin */
    cursor: pointer;                 /* Pointer cursor on hover */
    border-radius: 12px;             /* Rounded corners */
    transition: background 0.3s, color 0.3s;  /* Smooth transition for background and text color */
}

.custom-button:hover {
    background: linear-gradient(to right, #16295d, #1f5582);  /* Gradient blue background on hover */
      /* Gradient blue background on hover */
    color: white;                                            /* White text on hover */
    border-color: transparent;                               /* Hide border on hover */
}


.navbar-logo a {
    font-family: "Pacifico", cursive;
    font-weight: bold;
    font-style: normal;
    
    margin-right: 20px;
    margin-left:   10.3rem;
    color: #102943;
    text-decoration: none;
    font-size: 1.5rem;

}

.navbar-links {
    
    margin-right: 12rem;
    list-style: none;
    font-size: 12px;
    display: flex;
}

.navbar-links li {

    color: black;
    margin-right: 2rem;
    font-weight: 400;
}

.navbar-links a {
    margin-left: 3rem;
    color:black;
    text-decoration: none ;
    
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}

/* Responsive design */
@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    .navbar-links li {
        text-align: center;
        margin: 10px 0;
    }

    .navbar-toggle {
        display: flex;
    }
}

.navbar-links.active {
    display: flex;
}
